<!--The content below is only a placeholder and can be replaced.-->


<body>

  <div id="header-container">
    <app-header></app-header>
  </div>
  <div id="core-container">
    <router-outlet></router-outlet>
  </div>

  <div class="footer">
    <p>Les Recettes de Ker Pedor : Un site de Brieuc Loussouarn</p>
  </div>
</body>
