<button id="open" (click)="Clicked()">Afficher le chat de la recette</button>

<div *ngIf="displayChat">
  <div class="container" id="beau_chat">


    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4>Chat</h4>
      </div>

      <div class="panel-body">
        <ul class="chat">
          <li class="left" *ngFor="let data of datas">
            <div class="chat-body">
              <div class="header">
                <strong class="primary-font">{{data.name}}</strong>
                <p class="time">{{date| date:'shortTime'}}</p>
              </div>
              <p>
                {{data.message}}
              </p>
            </div>
          </li>


        </ul>
      </div>
      <div class="panel-footer">
        <form>
          <div class="input-group">
            <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." [(ngModel)]="message"
              name="message" value="send" />
            <span class="input-group-btn">
              <button class="btn btn-warning btn-sm" id="btn-chat" type="submit" label="send" (click)="sendMessage()">
                Send</button>

            </span>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
