body {
  font-family: Arial, bebas, verdana, code, "Lucida Sans Unicode", "Lucida Grande", sans-serif; }

html,
body,
ul,
ol,
li,
form,
fieldset,
legend {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0; }

fieldset,
img {
  border: 0; }

li {
  list-style: none; }

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

#open {
  padding: 6px 0 6px 0;
  font: bold 13px Arial;
  background: #478bf9;
  color: #fff;
  border-radius: 2px;
  width: 100px;
  border: none;
  position: fixed;
  bottom: 0em;
  right: 0em;
  z-index: 1; }

#beau_chat {
  float: right;
  width: 300px;
  position: fixed;
  bottom: 3em;
  right: 0em;
  background-color: #1abc9c;
  border: 1px solid black;
  border-radius: 3px; }

.chat {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 2px dotted #dfdfdf; }

.chat li .chat-body p {
  margin: 0;
  color: #ffffff; }

.panel .slidedown .glyphicon,
.chat .glyphicon {
  margin-right: 5px; }

.panel-body {
  overflow-y: scroll;
  height: 250px; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5; }

::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555; }

.header .time {
  text-align: right;
  color: #777777;
  font-size: 10px; }

.panel-heading h4 {
  color: white; }

@media screen and (max-width: 600px) {
  #open {
    padding: 6px 0 6px 0;
    font: bold 13px Arial;
    background: #478bf9;
    color: #fff;
    border-radius: 2px;
    width: 100px;
    border: none;
    position: fixed;
    bottom: 0em;
    right: 0em;
    z-index: 1; }
  #beau_chat {
    float: right;
    width: 300px;
    position: fixed;
    bottom: 4em;
    right: 0em;
    background-color: #1abc9c;
    border: 1px solid black;
    border-radius: 3px; }
  .chat {
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    .chat li {
      margin-bottom: 10px;
      padding-bottom: 5px;
      border-bottom: 2px dotted #dfdfdf; }
  .chat li .chat-body p {
    margin: 0;
    color: #ffffff; }
  .panel .slidedown .glyphicon,
  .chat .glyphicon {
    margin-right: 5px; }
  .panel-body {
    overflow-y: scroll;
    height: 250px; }
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5; }
  ::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5; }
  ::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #555; }
  .header .time {
    text-align: right;
    color: #777777;
    font-size: 10px; }
  .panel-heading h4 {
    color: white; } }
