@import "../../scss/variables";
@import "../../scss/mixin";
@import "../../scss/reset";
#open {
  padding: 6px 0 6px 0;
  font: bold 13px Arial;
  background: $blue_login;
  color: #fff;
  border-radius: 2px;
  width: 100px;
  border: none;
  position: fixed;
  bottom: 0em;
  right: 0em;
  z-index: 1;
}

#beau_chat {
  float: right;
  width: 300px;
  position: fixed;
  bottom: 3em;
  right: 0em;
  background-color: $green_header;
  border: 1px solid black;
  border-radius: 3px;
}

.chat {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 2px dotted rgb(223, 223, 223);
  }
}

.chat li .chat-body p {
  margin: 0;
  color: #ffffff;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
  margin-right: 5px;
}

.panel-body {
  overflow-y: scroll;
  height: 250px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}

.header {
  .time {
    text-align: right;
    color: #777777;
    font-size: 10px;
  }
}

.panel-heading {
  h4 {
    color: white;
  }
}

@media screen and (max-width: 600px) {
  #open {
    padding: 6px 0 6px 0;
    font: bold 13px Arial;
    background: $blue_login;
    color: #fff;
    border-radius: 2px;
    width: 100px;
    border: none;
    position: fixed;
    bottom: 0em;
    right: 0em;
    z-index: 1;
  }
  #beau_chat {
    float: right;
    width: 300px;
    position: fixed;
    bottom: 4em;
    right: 0em;
    background-color: $green_header;
    border: 1px solid black;
    border-radius: 3px;
  }
  .chat {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    li {
      margin-bottom: 10px;
      padding-bottom: 5px;
      border-bottom: 2px dotted rgb(223, 223, 223);
    }
  }
  .chat li .chat-body p {
    margin: 0;
    color: #ffffff;
  }
  .panel .slidedown .glyphicon,
  .chat .glyphicon {
    margin-right: 5px;
  }
  .panel-body {
    overflow-y: scroll;
    height: 250px;
  }
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
  }
  ::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
  }
  ::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
  }
  .header {
    .time {
      text-align: right;
      color: #777777;
      font-size: 10px;
    }
  }
  .panel-heading {
    h4 {
      color: white;
    }
  }
}
